<html>
  <head>
    <%= include_theme_css %>
    <style media="all">
      body {
        background: #FFFFFF !important;
      }
      .print-slip-retain-white-space span {
        white-space: pre-wrap;
      }
      .print-slip-label-and-value .print-slip-label {
        white-space: pre-wrap;
      }
      #header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        position: running(header);
        color: #666;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #CCC;
      }
      #footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        position: running(footer);
        color: #666;
      }
      #report-layout-helper {
        width: 100%;
      }
      .header-space {
        height: 60px;
      }
      .footer-space {
        height: 40px;
      }
      #print-slip-report {
        column-count: 2;
      }
      #print-slip-report section {
        margin-bottom: 10px;
      }
      #print-slip-report section header {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      #print-slip-report section > div {
        padding-left: 12px;
      }
      #print-slip-report .print-slip-label-and-value {
        margin-bottom: 5px;
      }
      #print-slip-report .print-slip-label-and-value .print-slip-label {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <%= yield %>

    <% if @print %>
      <script>
        window.print();
      </script>
    <% end %>
  </body>
</html>